<html>
  <head>
    <title>
      reset email
    </title>
  </head>
  <body>
    <div>
      Plesae click the link below to reset password:
    </div>
    <div>{{.resetPasswordUrl}}</div>
  </body>
</html>
