{{ define "title"}}<title>Home</title>{{ end }}
      
{{ define "content"}}
  <h1 class="text-2xl mx-auto">Error</h1>
  <div class="mx-auto">something went wrong, please try to <a href="/login" class="font-bold">login</a> again.</div>
{{end}}

{{ define "footer"}}<div></div>{{ end }}
