{{ define "title"}}<title>hello world</title>{{ end }}
      
{{ define "content"}}
    <h1 class="text-2xl mx-auto">Hallo Welt</h1>
  </h1>
    <div class="mx-auto">
      date: {{$.date}}
    </div>

    <div class="mx-auto">
    <div>Env variables:</div>
    {{range $key, $value := $.envs}}
      <div>
        {{$key}}={{$value}} 
      </div>
    {{end}}
    </div>
{{end}}

{{ define "footer"}}<div></div>{{ end }}
