{{ define "title"}}<title>Denied</title>{{ end }}
      
{{ define "content"}}
  <h1 class="text-2xl mx-auto">Access Denied</h1>
  <div class="mx-auto">You don't have sufficient permission...</div>
{{end}}

{{ define "footer"}}<div></div>{{ end }}
