package {{.ModuleName}}

import (
	"errors"
	"fmt"
	"github.com/gofiber/fiber/v2"
	"golang-api-starter/internal/config"
	"golang-api-starter/internal/helper"
	"log"
	"strconv"
)

type Controller struct {
	service *Service
}

func NewController(s *Service) Controller {
	return Controller{s}
}

var cfg = config.Cfg
var respCode = fiber.StatusInternalServerError

func (c *Controller) Get(ctx *fiber.Ctx) error {
	fmt.Printf("{{.ModuleName}} ctrl\n")
	fctx := &helper.FiberCtx{Fctx: ctx}
	reqCtx := &helper.ReqContext{Payload: fctx}
	paramsMap := reqCtx.Payload.GetQueryString()
	results, pagination := c.service.Get(paramsMap)

	respCode = fiber.StatusOK
	return fctx.JsonResponse(
		respCode,
		map[string]interface{}{"data": results, "pagination": pagination},
	)
}

func (c *Controller) GetById(ctx *fiber.Ctx) error {
	fmt.Printf("{{.ModuleName}} ctrl\n")
	fctx := &helper.FiberCtx{Fctx: ctx}
	id := fctx.Fctx.Params("id")
	paramsMap := map[string]interface{}{"id": id}
	results, err := c.service.GetById(paramsMap)

	if err != nil {
		respCode = fiber.StatusNotFound
		return fctx.JsonResponse(
			respCode,
			map[string]interface{}{"message": err.Error()},
		)
	}

	respCode = fiber.StatusOK
	return fctx.JsonResponse(respCode, map[string]interface{}{"data": results[0]})
}

func (c *Controller) Create(ctx *fiber.Ctx) error {
	fmt.Printf("{{.ModuleName}} ctrl create\n")
	c.service.ctx = ctx
	{{.ModuleName}} := &{{.StructName}}{}
	{{.ModuleName}}s := []*{{.StructName}}{}

	fctx := &helper.FiberCtx{Fctx: ctx}
	reqCtx := &helper.ReqContext{Payload: fctx}
	if invalidJson := reqCtx.Payload.ValidateJson(); invalidJson != nil {
		return fctx.JsonResponse(
			fiber.StatusUnprocessableEntity,
			map[string]interface{}{"message": invalidJson.Error()},
		)
	}

	{{.ModuleName}}Err, parseErr := reqCtx.Payload.ParseJsonToStruct({{.ModuleName}}, &{{.ModuleName}}s)
	if parseErr != nil {
		return fctx.JsonResponse(
			fiber.StatusUnprocessableEntity,
			map[string]interface{}{"message": parseErr.Error()},
		)
	}
	if {{.ModuleName}}Err == nil {
		{{.ModuleName}}s = append({{.ModuleName}}s, {{.ModuleName}})
	}
	// log.Printf("{{.ModuleName}}Err: %+v, {{.ModuleName}}sErr: %+v\n", {{.ModuleName}}Err, {{.ModuleName}}sErr)
	// for _, t := range {{.ModuleName}}s {
	// 	log.Printf("{{.ModuleName}}s: %+v\n", t)
	// }

	for _, {{.ModuleName}} := range {{.ModuleName}}s {
		if validErr := helper.ValidateStruct(*{{.ModuleName}}); validErr != nil {
			return fctx.JsonResponse(
				fiber.StatusUnprocessableEntity,
				map[string]interface{}{"message": validErr.Error()},
			)
		}

		if {{.ModuleName}}.Id == nil {
			continue
		} else if existing, err := c.service.GetById(map[string]interface{}{
			"id": strconv.Itoa(int(*{{.ModuleName}}.Id)),
		}); err == nil && {{.ModuleName}}.CreatedAt == nil {
			{{.ModuleName}}.CreatedAt = existing[0].CreatedAt
		}
		// fmt.Printf("{{.ModuleName}}? %+v\n", {{.ModuleName}})
	}

	// return []*{{.StructName}}{}
	results, httpErr := c.service.Create({{.ModuleName}}s)
	if httpErr.Err != nil {
		return fctx.JsonResponse(
			httpErr.Code,
			map[string]interface{}{"message": httpErr.Err.Error()},
		)
	}

	respCode = fiber.StatusCreated
	if {{.ModuleName}}Err == nil && len(results) > 0 {
		return fctx.JsonResponse(
			respCode,
			map[string]interface{}{"data": results[0]},
		)
	}
	return fctx.JsonResponse(
		respCode,
		map[string]interface{}{"data": results},
	)
}

func (c *Controller) Update(ctx *fiber.Ctx) error {
	fmt.Printf("{{.ModuleName}} ctrl update\n")

	{{.ModuleName}} := &{{.StructName}}{}
	{{.ModuleName}}s := []*{{.StructName}}{}

	fctx := &helper.FiberCtx{Fctx: ctx}
	reqCtx := &helper.ReqContext{Payload: fctx}
	if invalidJson := reqCtx.Payload.ValidateJson(); invalidJson != nil {
		return fctx.JsonResponse(
			fiber.StatusUnprocessableEntity,
			map[string]interface{}{"message": invalidJson.Error()},
		)
	}

	{{.ModuleName}}Err, parseErr := reqCtx.Payload.ParseJsonToStruct({{.ModuleName}}, &{{.ModuleName}}s)
	if parseErr != nil {
		return fctx.JsonResponse(
			fiber.StatusUnprocessableEntity,
			map[string]interface{}{"message": parseErr.Error()},
		)
	}
	if {{.ModuleName}}Err == nil {
		{{.ModuleName}}s = append({{.ModuleName}}s, {{.ModuleName}})
	}

	for _, {{.ModuleName}} := range {{.ModuleName}}s {
		if validErr := helper.ValidateStruct(*{{.ModuleName}}); validErr != nil {
			return fctx.JsonResponse(
				fiber.StatusUnprocessableEntity,
				map[string]interface{}{"message": validErr.Error()},
			)
		}
		if {{.ModuleName}}.Id == nil && {{.ModuleName}}.MongoId == nil {
			return fctx.JsonResponse(
				respCode,
				map[string]interface{}{"message": "please ensure all records with id for PATCH"},
			)
		}

		cfg.LoadEnvVariables()
		conditions := map[string]interface{}{}
		conditions["id"] = {{.ModuleName}}.GetId()

		existing, err := c.service.GetById(conditions)
		if len(existing) == 0 {
			respCode = fiber.StatusNotFound
			return fctx.JsonResponse(
				respCode,
				map[string]interface{}{
					"message": errors.Join(
						errors.New("cannot update non-existing records..."),
						err,
					).Error(),
				},
			)
		} else if {{.ModuleName}}.CreatedAt == nil {
			{{.ModuleName}}.CreatedAt = existing[0].CreatedAt
		}
	}

	results, httpErr := c.service.Update({{.ModuleName}}s)
	if httpErr.Err != nil {
		return fctx.JsonResponse(
			httpErr.Code,
			map[string]interface{}{"message": httpErr.Err.Error()},
		)
	}

	respCode = fiber.StatusOK
	if {{.ModuleName}}Err == nil && len(results) > 0 {
		return fctx.JsonResponse(
			respCode,
			map[string]interface{}{"data": results[0]},
		)
	}
	return fctx.JsonResponse(
		respCode,
		map[string]interface{}{"data": results},
	)
}

func (c *Controller) Delete(ctx *fiber.Ctx) error {
	fmt.Printf("{{.ModuleName}} ctrl delete\n")
	// body := map[string]interface{}{}
	// json.Unmarshal(c.BodyRaw(), &body)
	// fmt.Printf("req body: %+v\n", body)
	delIds := struct {
		Ids []int64 `json:"ids" validate:"required,unique"`
	}{}

	mongoDelIds := struct {
		Ids []string `json:"ids" validate:"required,unique"`
	}{}

	fctx := &helper.FiberCtx{Fctx: ctx}
	reqCtx := &helper.ReqContext{Payload: fctx}
	intIdsErr, strIdsErr := reqCtx.Payload.ParseJsonToStruct(&delIds, &mongoDelIds)
	if intIdsErr != nil && strIdsErr != nil {
		log.Printf("failed to parse req json, %+v\n", errors.Join(intIdsErr, strIdsErr).Error())
		return fctx.JsonResponse(respCode, map[string]interface{}{"message": errors.Join(intIdsErr, strIdsErr).Error()})
	}
	fmt.Printf("deletedIds: %+v, mongoIds: %+v\n", delIds, mongoDelIds)

	var (
		results []*{{.StructName}}
		err     error
	)

	cfg.LoadEnvVariables()
	if cfg.DbConf.Driver == "mongodb" {
		results, err = c.service.Delete(mongoDelIds.Ids)
	} else {
		idsString, _ := helper.ConvertNumberSliceToString(delIds.Ids)
		results, err = c.service.Delete(idsString)
	}

	if err != nil {
		log.Printf("failed to delete, err: %+v\n", err.Error())
		respCode = fiber.StatusNotFound
		return fctx.JsonResponse(
			respCode,
			map[string]interface{}{"message": err.Error()},
		)
	}

	respCode = fiber.StatusOK
	return fctx.JsonResponse(
		respCode,
		map[string]interface{}{"data": results},
	)
}
