package {{.ModuleName}}

import (
	"fmt"
	"golang-api-starter/internal/database"
	"golang-api-starter/internal/helper"
	//"golang-api-starter/internal/modules/user"
	"golang.org/x/exp/maps"
)

type Repository struct {
	db database.IDatabase
}

func NewRepository(db database.IDatabase) *Repository {
	return &Repository{db}
}

// cascadeFields for joining other module, see the example in internal/modules/todo/repository.go
func cascadeFields({{.ModuleName}}s {{.StructName}}s) {
	// cascade user
}

func (r *Repository) Get(queries map[string]interface{}) ([]*{{.StructName}}, *helper.Pagination) {
	fmt.Printf("{{.ModuleName}} repo\n")
	defaultExactMatch := map[string]bool{
		"id":   true,
		"_id":  true,
		//"done": true, // bool match needs exact match, param can be 0(false) & 1(true)
	}
	if queries["exactMatch"] != nil {
		maps.Copy(queries["exactMatch"].(map[string]bool), defaultExactMatch)
	}

	queries["columns"] = {{.StructName}}{}.getTags()
	rows, pagination := r.db.Select(queries)

	var records {{.StructName}}s
	if rows != nil {
		records = records.rowsToStruct(rows)
	}
	// records.printValue()

	//cascadeFields(records)

	return records, pagination
}

func (r *Repository) Create({{.ModuleName}}s []*{{.StructName}}) ([]*{{.StructName}}, error) {
	for _, {{.ModuleName}} := range {{.ModuleName}}s {
		fmt.Printf("{{.ModuleName}} repo add: %+v\n", {{.ModuleName}})
	}
	rows, err := r.db.Save({{.StructName}}s({{.ModuleName}}s))

	var records {{.StructName}}s
	if rows != nil {
		records = records.rowsToStruct(rows)
	}
	records.printValue()

	return records, err
}

func (r *Repository) Update({{.ModuleName}}s []*{{.StructName}}) ([]*{{.StructName}}, error) {
	fmt.Printf("{{.ModuleName}} repo update\n")
	rows, err := r.db.Save({{.StructName}}s({{.ModuleName}}s))

	var records {{.StructName}}s
	if rows != nil {
		records = records.rowsToStruct(rows)
	}
	records.printValue()

	return records, err
}

func (r *Repository) Delete(ids []string) error {
	fmt.Printf("{{.ModuleName}} repo delete\n")
	err := r.db.Delete(ids)
	if err != nil {
		return err
	}

	return nil
}
