projectName: "Fiber rest starter"

server:
  env: local # local, dev, prod
  host: "localhost"
  port: 7000

jwt:
  secret: "1234balhblahblah"

database:
  engine: "postgres"
  sqlite:
    user: "user"
    pass: "user"
    database: "fiber-starter"
  mariadb:
    host: "mariadb-dev" # service's name in compose-db.yaml
    port: "3306"
    user: "user"
    pass: "password"
    database: "fiber-starter"
  postgres:
    host: "postgres-dev" # service's name in compose-db.yaml
    port: "5432"
    user: "user"
    pass: "password"
    database: "fiber-starter"
  mongodb:
    host: "mongodb-dev" # service's name in compose-db.yaml
    port: "27017"
    user: "user"
    pass: "password"
    database: "fiber-starter"

logging:
  level: 0 # debug:0, info:1, warning:2, error:3
  type:
    # - "database" # SLOWER - log into database's logs table
    - "zap"        # log into logs/requests.log
  zap:
    output:
      # - "console"
      - "file"
    filename: "requests.log"
  debugSymbol: 

oauth:
  google:
    key: "xxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com"
    secret: "GOCSPX-xxxxxxxxxxxxxxxxxxxxx"
    callbackUrl: "http://localhost:7000/oauth/google/callback"
  github:
    key: "xyxyxyxyxyxyxyxyxyxy"
    secret: "xzxzxzxzxzxzxzxzxzxzxzxzxzxzxzxzxzxzxzxz"
    callbackUrl: "http://localhost:7000/api/oauth/github/callback"

notification:
  smtp:
    host:  "smtp.gmail.com"
    port: 587 
    user: "xxxx@gmail.com"
    pass: "xxxxyyyyyzzzxz"

# Play with it later
#redis:
#  host: "localhost"
#  port: "6379"

rbmq:
  host: "rabbitmq-dev"
  port: "5672"
  user: "user"
  pass: "password"
